.usersSize{
    width: 100%;
}

.header{
    height: 80px;
}

.distance{
    height: 50px;
}

.title{
    font-family: 'Delicius Adventures Regular'
}

@font-face {
    font-family: 'Delicious Adventures Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../../fonts/Delicious Adventures Regular'), url('../../fonts/Delicious Adventures.woff') format('woff');
    }


